@import '~@angular/material/_theming';
@import '../../theme';

.calendar-demo-day {
    margin: 0 10px;
}

.calendar-demo-day-list-item {}

.calendar-demo-day-edit {
    width: 500px;
    height: 89px;
    border-left: none;
    padding: 10px;

    .day-type-wrapper {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        @include mat-elevation(8);
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
    }

    .day-type {
        font-size: 28px;
        color: mat-color($accent-palette);
    }
}

iu-calendar {}
