<iu-calendar
  [calendar]="calendar"
  [calendarView]="null"
  [calendarEventTypes]="calendarEventTypes"
  [defaultWeekdayTypeId]="7"
  [defaultWeekendTypeId]="8"
  [showKey]="false"
  (updateCalendar)="updateCalendar($event)"
  (addEvent)="addEvent($event)"
  (deleteEvent)="deleteEvent($event)"
  (updateEvent)="updateEvent($event)"
>
  <!-- <ng-template let-day="day" #calendarDayTemplate>
    <div class="calendar-demo-day" [style.text-align]="'center'">
      <h4 [style.color]="day.color">{{ day?.dayType?.name }}</h4>
    </div>
  </ng-template> -->

  <!-- <ng-template let-day="day" #calendarDayListItemTemplate>
    <div class="calendar-demo-day-list-item">
      <h3>{{ day.date | date: 'shortDate' }}</h3>
    </div>
  </ng-template> -->

  <!-- <ng-template let-day="day" let-color="color" #calendarDayEditTemplate>
    <div class="calendar-demo-day-edit font-effect-emboss" [style.background-color]="color">
      <div class="day-type-wrapper">
        <span class="day-type" [style.color]="color">{{ day?.dayType?.name }}</span>
      </div>
    </div>
  </ng-template> -->

  <!-- <ng-template
    let-calendar="calendar"
    let-form="form"
    let-submit="submit"
    #calendarFormTemplate
  >
    <form [formGroup]="form">
      <h1>Edit Calendar</h1>
      <mat-form-field>
        <input
          type="text"
          formControlName="calendarName"
          matInput
          placeholder="Calendar Name"
        />
      </mat-form-field>
      <button mat-button (click)="submit()">Submit</button>
    </form>
  </ng-template> -->

  <!-- <ng-template
    let-calendarEvent="calendarEvent"
    let-form="form"
    let-submit="submit"
    #calendarEventFormTemplate
  >
    <form [formGroup]="form">
      <h1>Edit Event</h1>
      <mat-form-field>
        <input
          type="text"
          formControlName="eventName"
          matInput
          placeholder="Event Name"
        />
      </mat-form-field>
      <button mat-button (click)="submit()">Submit</button>
    </form>
  </ng-template> -->
</iu-calendar>
<iu-print containerToPrint="calendar-wrapper" [enableDebug]="true"></iu-print>
