<iu-calendar [calendar]="calendar" [calendarEventTypes]="calendarEventTypes">
  <!-- <ng-template let-day="day" #calendarDayTemplate>
    <div class="calendar-demo-day">
      <h3>{{ day.date | date: 'shortDate' }}</h3>
    </div>
  </ng-template> -->

  <!-- <ng-template let-day="day" #calendarDayListItemTemplate>
    <div class="calendar-demo-day-list-item">
      <h3>{{ day.date | date: 'shortDate' }}</h3>
    </div>
  </ng-template> -->

  <!-- <ng-template let-day="day" #calendarDayEditTemplate>
    <div class="calendar-demo-day-edit">
      <h3>{{ day.date | date: 'shortDate' }}</h3>
    </div>
  </ng-template> -->

  <!-- <ng-template
    let-calendar="calendar"
    let-form="form"
    let-submit="submit"
    #calendarFormTemplate
  >
    <form [formGroup]="form">
      <h1>Edit Calendar</h1>
      <mat-form-field>
        <input
          type="text"
          formControlName="calendarName"
          matInput
          placeholder="Calendar Name"
        />
      </mat-form-field>
      <button mat-button (click)="submit()">Submit</button>
    </form>
  </ng-template> -->

  <!-- <ng-template
    let-calendarEvent="calendarEvent"
    let-form="form"
    let-submit="submit"
    #calendarEventFormTemplate
  >
    <form [formGroup]="form">
      <h1>Edit Event</h1>
      <mat-form-field>
        <input
          type="text"
          formControlName="eventName"
          matInput
          placeholder="Event Name"
        />
      </mat-form-field>
      <button mat-button (click)="submit()">Submit</button>
    </form>
  </ng-template> -->
</iu-calendar>
