<mat-toolbar color="primary">
  <button (click)="activeDemo='wallpaper'" mat-button class="demo-link">Wallpaper</button>
  <button (click)="activeDemo='collage'" mat-button class="demo-link">Collage</button>
  <button (click)="activeDemo='address-manager'" mat-button class="demo-link">Address Manager</button>
  <button (click)="activeDemo='file-upload'" mat-button class="demo-link">File Upload</button>
  <button (click)="activeDemo='file-upload-multi'" mat-button class="demo-link">File Upload - Multi</button>
  <button (click)="activeDemo='timeago'" mat-button class="demo-link">Time Ago</button>
  <button (click)="activeDemo='scheduler'" mat-button class="demo-link">Scheduler</button>
</mat-toolbar>

<iu-wallpaper *ngIf="activeDemo === 'wallpaper'" [images]="images" [offsetTop]="64" [offsetLeft]="0"></iu-wallpaper>

<div *ngIf="activeDemo === 'collage'" class="example">
  Collage
</div>
<form>
  <div *ngIf="activeDemo === 'timeago'" class="example">
    {{timeAgoTest}}
  </div>
  <div *ngIf="activeDemo === 'address-manager'" class="example">
    <iu-address [addresses]="addresses"></iu-address>
  </div>
  <div *ngIf="activeDemo === 'file-upload'" class="example">
    <iu-file-upload (upload)="onUpload($event)"></iu-file-upload>
  </div>
  <div *ngIf="activeDemo === 'file-upload-multi'" class="example">
    <iu-file-upload [multiple]="true" (upload)="onUpload($event)"></iu-file-upload>
  </div>
</form>

<div *ngIf="activeDemo === 'scheduler'" class="example">
  <iu-scheduler></iu-scheduler>
</div>

<router-outlet></router-outlet>
