@import '../styles';
$theme: mat-light-theme($primary-palette, $accent-palette);

iu-file-upload {
  // @include file-upload-color($primary-color, $dark-primary-color, $light-primary-color, #fff);
}

mat-toolbar {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
}

.example {
  margin: 100px;

}

.demo-link {
  color: #fff;
}
